.navbar {
    display: flex;
    position: inherit;
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: space-around;
}

.navbar__section {
    display: flex;
    gap: 10px;
    align-items: center;
}