:root {
    --display: #1E1E1E;
    --green: #046307;
    --bg-card: #303430;
    --gold: #D79A19;
    --blue: #1735B1;
    --emerald: #00C36D;
    --light-green: #0AFF9D;
    --white: #ffff;
}

* {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}