:root {
    --display: #1E1E1E;
    --green: #046307;
    --bg-card: #303430;
    --gold: #D79A19;
    --blue: #1735B1;
    --emerald: #00C36D;
    --light-green: #0AFF9D;
    --white: #ffff;
    --transparent: rgba(255, 255, 255, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--white)
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--transparent);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 16px;
    margin: 16px 0px;
    padding: 16px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

body {
    background-color: var(--display);
    min-height: 200vh;
    line-height: 1;
}