
* {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--white)
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 16px;
    margin: 16px 0px;
    padding: 16px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

body {
    background-color: var(--display);
    min-height: 100vh;
}