:root {
    --display: #1E1E1E;
    --green: #046307;
    --bg-card: #303430;
    --gold: #D79A19;
    --blue: #1735B1;
    --emerald: #00C36D;
    --light-green: #0AFF9D;
    --white: #ffff;
}



body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 16px;
    margin: 16px 0px;
    padding: 16px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

body {
    background-color: var(--display);
    min-height: 100vh;
}