:root {
    --display: #111411;
    --grey: #212124;
    --green: #066C43;
    
    --bg-card: #303430;
    --gold: #D79A19;
    --blue: #1735B1;
    --emerald: #00C36D;
    --light-green: #0AFF9D;
    --white: #ffff;
    --transparent: rgba(255, 255, 255, 0.15);
    --light-grey: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--white)
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--transparent);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--grey);
    border: 1px solid;
    border-color: var(--light-grey);
    padding: 14px 28px;
    color: white;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

html,
body,
#root {
    background-color: var(--display);
    min-height: 100vh;
    line-height: 1;
    overflow-x: hidden;
    width: 100vw;
}

#contacts {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 560px) {
    button {
        font-size: 14px;
    }
}