:root {
    --gray-bg: #333632;
}

.root {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-family: inherit;
}

.item {
    background: var(--gray-bg);
    border-radius: 28px;
    margin: 0;
    transition: background 0.16s;
    width: 80%;
}

.header {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    padding: 15px 56px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.16s;
}

.open .header,
.header:focus-visible {
    background: var(--gray-bg);
    border-radius: 28px;
}

.question {
    flex: 1 1 auto;
    display: block;
}

.icon {
    font-size: 30px;
    margin-left: 28px;
    color: var(--green);
    font-weight: 700;
    width: 38px;
    height: 38px;
    line-height: 1;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.18s;
}

.body {
    overflow: hidden;
    background: var(--gray-bg);
    font-size: 22px;
    color: #fff;
    line-height: 1.41;
    transition:
        max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 56px;
    border-radius: 0 0 28px 28px;
}

.content {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.answer {
    opacity: 1;
    padding-bottom: 8px;
    font-weight: 300;
    font-size: 22px;
}

.allQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 4px;
}

.body:not(.open) .content {
    opacity: 0;
    transition: opacity 0.2s ease 0.1s;
}

@media (max-width: 900px) {
    .header {
        font-size: 21px;
        padding: 22px 16px;
    }

    .body {
        font-size: 16px;
        padding: 0 16px;
    }

    .answer {
        font-size: 16px;
    }
}